<footer id="page-footer" dir="rtl">
    <div class="footer-section footer-main" >
        <a href="https://dart.dev/" class="brand" title="Dart"><img
            loading="lazy" decoding="async" th:src="@{/assets/img/iZel2Nms4j-443.svg}" alt="Dart" width="443"
            height="138">
        </a>
        <div class="footer-social-links" dir="ltr">
            <a href="https://medium.com/dartlang" target="_blank" rel="noopener" title="Medium blog">

                <svg>
                         <use th:href="@{/assets/img/social/medium.svg#medium}"></use>
                </svg>
        </a>
        <a href="https://github.com/dart-lang" target="_blank" rel="noopener" title="GitHub">
              <svg>
                <use th:href="@{/assets/img/social/github.svg#github}"></use>
              </svg>
        </a>
          <a href="https://twitter.com/dart_lang" target="_blank" rel="noopener"
               title="X (Twitter)">
              <svg>
                <use th:href="@{/assets/img/social/x.svg#x}"></use>
              </svg>
          </a>
        </div>
    </div>
    <div class="footer-section footer-tray">
        <div class="footer-licenses" dir="rtl">
            به جز موارد ذکر شده، این سایت تحت مجوز بین المللی
            <a href="https://creativecommons.org/licenses/by/4.0/">
                 Creative Commons Attribution 4.0
            </a>
            ، و نمونه کدها تحت مجوز
            <a href="https://opensource.org/licenses/BSD-3-Clause">
                3-Clause BSD
            </a>قرار دارند.
        </div>
        <div class="footer-utility-links">
            <ul>
                <li><a href="https://dart.dev/terms" title="Terms of use">Terms</a></li>
                <li><a href="https://policies.google.com/privacy" target="_blank" rel="noopener"
                       title="Privacy policy">Privacy</a></li>
                <li><a href="https://dart.dev/security" title="Security philosophy and practices">Security</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>